{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    svg4everybody: true
  },
  "rules": {
    "indent": [ "error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-var": "error",
    "no-console": 0,
    "no-unused-vars": ["error", { "args": "none" }],
    "lines-around-comment": ["error", { "beforeLineComment": true, "beforeBlockComment": true }],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "never" }]
  }
}
