@mixin eq-dimen($height) {
  height: $height * 1rem;
  width: $height * 1rem;
}

@mixin ring-dimen($ring-number, $max-dimen) {
  $height: $max-dimen - (($ring-number - 1) * 2);

  @include absolute-center($height);
}

@mixin absolute-center($height) {
  margin-top: -$height / 2 * 1rem;
  margin-left: -$height / 2 * 1rem;
  position: absolute;
  left: 50%;
  top: 50%;

  @include eq-dimen($height);
}

@mixin no-highlight() {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
