// Colors
$brown: #4e342e;
$beige-100: #fafafa;
$beige: #d7ccc8;
$green-400: #4caf50;
$green: #2e7d32;
$olive: #363d13;
$shadow: rgba(0,0,0,.28);

// Transitions
$swift: cubic-bezier(0.4, 0, 0.2, 1);
