// Color Palette
$teal-50: #e0f2f1;
$teal-100: #b2dfdb;
$teal-400: #26a69a;
$teal-500: #009688;
$teal-600: #00897b;
$teal-700: #00796b;
$teal-800: #00695c;
$teal-900: #004d40;
$red-100: #ffcdd2;
$red-400: #e53935;
$red-500: #f44336;
$red-800: #c62828;
$red-900: #b71c1c;

// Project Specific
$grey: #37474f;
$pink: #f50057;
$deep-purple: #311b92;
$green: #00e676;

$shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

// Transitions
$swift: cubic-bezier(0.4, 0, 0.2, 1);
