@use "../../1-modules/variables";

#about {
  background: none no-repeat center bottom;
  background-size: cover;
}

#bg-cover {
  transition: opacity 400ms variables.$swift;

  &.hide {
    opacity: 0;
  }
}

button {
  & > svg,
  & > span {
    transition: transform 200ms variables.$swift;
  }

  &:hover {
    & > span {
      transform: translate(12rem);
    }

    & > svg {
      transform: translate(0);
    }
  }
}

#email {
  &:hover > span {
    transform: translate(-50%, -5.4rem) scale(1);
  }

  & > span {
    background-color: variables.$purple-600;
    border-radius: variables.$xxs;
    font-size: 1.4rem;
    padding: variables.$xs;
    pointer-events: none;
    transition: transform 200ms variables.$swift;
  }
}

@media (min-width: 1018px) {
  #about {
    background-attachment: fixed;
    background-position: right bottom;
  }

  #email > span {
    background-color: variables.$purple-translucent;
  }

  button {
    cursor: pointer;
  }

  #email {
    &:hover > span {
      transform: translate(-50%, 120%) scale(1);
    }

    & > span {
      font-size: variables.$m;
    }
  }
}
