#about {
  background: url(../assets/img/head/tree-2x.jpg) no-repeat center bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: $m;
  overflow: hidden;

  & > p {
    background-color: rgba($teal-800, .78);
    margin: 4.8rem 0 0 0;
    padding: $m;
    transition: background-color 250ms $swift 125ms;
  }
}

.btns {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 4rem;
}

button {
  align-self: flex-end;
  background-color: $purple-600;
  border: 0;
  border-radius: $xxs;
  box-shadow: 0 -.4rem 0 0 $purple-900 inset, 0 $xs 0 0 $purple-900 inset;
  color: $teal-50;
  font-family: inherit;
  font-size: $m;
  letter-spacing: .1rem;
  outline: 0;
  padding: 1.2rem;
  transition: box-shadow 250ms $swift-bounce;

  &:hover {
    box-shadow: 0 3rem $purple-900 inset, 0 -3rem $purple-900 inset;
  }
}

#email {
  position: relative;

  &::before,
  &::after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(50deg) scale(0.2);
    transform-origin: center bottom;
    transition: transform 250ms $swift-bounce, top 250ms $swift-bounce, opacity 125ms $swift;
  }

  &::before {
    background-color: $purple-translucent;
    content: 'troutkt@mail.uc.edu';
    font-size: 1.5rem;
    padding: $xs;
    text-transform: lowercase;
    top: 3rem;
  }

  &::after {
    border-color: $purple-translucent transparent transparent transparent;
    border-style: solid;
    border-width: $s $s 0 $s;
    content: '';
    top: 5.6rem;
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
      transform: translateX(-50%) scale(1);
    }

    &::before {
      top: -4.2rem;
    }

    &::after {
      top: -1.7rem;
    }
  }
}

@media (min-width: 410px) {
  #about,
  button {
    font-size: 2rem;
  }

  #email:hover::before {
    transform: translateX(-50%) scale(1);
  }
}

@media (min-width: 880px) {
  #about {
    align-items: flex-end;
    justify-content: center;
    background-attachment: fixed;
    flex-direction: column;
    background-image: url(../assets/img/head/forest.jpg);
    background-position: right bottom;

    & > p {
      background-color: $purple-translucent;
      border-radius: $xxs;
      box-sizing: border-box;
      font-size: 2.2rem;
      margin-bottom: $l;
      margin-right: $l;
      width: 40%;
    }
  }

  .btns {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;

    margin: $xl $l $l 0;
  }

  button {
    cursor: pointer;
  }

  #email {
    &::before {
      background-color: $purple-translucent;
    }

    &::after {
      border-top-color: $purple-translucent;
    }
  }
}

@media (min-width: 1030px) {
  #about {
    align-items: flex-start;

    & > p {
      font-size: $l;
      margin-left: 6rem;
      transition: margin 300ms $swift;
    }
  }

  .btns {
    align-self: normal;
    margin-left: 6rem;
  }
}

@media (min-width: 1155px) {
  #about {
    & > p {
      font-size: 2.6rem;
    }
  }

  .btns {
    margin-top: 4.8rem;
  }

  button {
    font-size: $l;
  }

  #email {
    &::before {
      font-size: 2rem;
    }

    &:hover::before {
      top: -4.7rem;
    }
  }
}

@media (min-width: 1220px) {
  #email {
    &::before {
      padding: $s;
    }

    &::after {
      border-width: 1rem 1rem 0 1rem;
    }

    &:hover {
      &::before {
        top: -5.8rem;
      }

      &::after {
        top: -2rem;
      }
    }
  }
}
