#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url(../assets/img/head/tree.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  font-size: 2rem;

  & > p {
    background-color: rgba($teal-800, .78);
    margin: 0;
    padding: 1.6rem;
    transition: background-color 300ms $swift;
  }
}

button {
  align-self: flex-end;
  background-color: $red-900;
  border: 0;
  border-radius: 0;
  color: $teal-50;
  font-family: inherit;
  font-size: 1.8rem;
  margin: 2rem;
  padding: .8em;
  letter-spacing: .05em;
  transition: all 300ms $swift;

  &:focus {
    outline: 1px solid $red-900;
  }
}
