@use '../_udj-record';
@use "../../1-modules/mixins";
@use "../../1-modules/variables";


#projects {
  background-color: variables.$imp-blue-grey;
}

figure {
  border-radius: variables.$xxs;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 33.33vh;
  width: 100%;
  overflow: hidden;
  padding: variables.$m;
  position: relative;

  &:first-of-type {
    background-color: variables.$ps-tan;

    &::before {
      background-color: variables.$ps-green;
    }

    & > figcaption {
      background-color: rgba(variables.$ps-green, .54);
    }
  }

  &:nth-of-type(2) {
    background-color: variables.$imp-blue-grey;

    &::before {
      background-color: variables.$imp-pink;
    }

    & > figcaption {
      background-color: rgba(variables.$imp-pink, .54);
    }
  }

  &:last-of-type {
    background-color: variables.$udj-deep-purple;

    &::before {
      background-color: variables.$udj-green;
    }

    & > figcaption {
      background-color: rgba(variables.$udj-green, .73);
    }
  }

  &::before {
    content: '';
    height: variables.$xs;
    width: 102%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 200ms variables.$swift;
    transform: scale(0);
  }

  &:hover {
    &::before {
      transform: scale(1);
    }
  }

  & > svg {
    @include mixins.eq-dimen(16);
  }
}

figcaption {
  font-size: 1.8rem;
  padding: variables.$m;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;

  & > h1,
  & > p {
    position: relative;
    z-index: 2;
  }

  & > h1 {
    display: inline-block;
    margin: 0 0 variables.$s 0;
  }

  & > p {
    margin: 0;
  }

  & > a {
    cursor: default;
    position: absolute;
    top: variables.$s;
    left: 80%;
    z-index: 2;
  }
}

@media (min-width: 410px) {
  figure > svg {
    height: 22rem;
    width: 24rem;
  }
}

@media (min-width: 585px) {
  figure > svg {
    height: 24rem;
    width: 26rem;
  }
}

@media (min-width: 1018px) {
  #projects {
    background-color: variables.$teal-600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }

  figure {
    box-shadow: variables.$shadow;
    height: 55vh;
    width: 27vw;
  }

  figcaption {
    width: 27vw;

    & > a {
      cursor: pointer;
    }
  }
}
