.project {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  padding: 1.6rem;
  position: relative;

  &:first-of-type {
    background-color: $grey;

    & > .proj-desc {
      background-color: rgba($pink, .54);
    }
  }

  &:last-of-type {
    background-color: $deep-purple;

    & > .proj-desc {
      background-color: rgba($green, .73);
    }
  }

  &:hover {
    & > .material-icons {
      bottom: -4rem;
    }

    & > .proj-desc {
      bottom: 0;

      & > h1 {
        margin-left: 0;
      }
    }
  }

  & > img {
    height: 16rem;
    width: 16rem;
    z-index: 2;
  }

  & > h1 {
    position: absolute;
  }

  .material-icons {
    font-size: 4.8rem;
    margin-left: -2.4rem;
    opacity: .54;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: bottom 200ms $swift;
  }
}

.proj-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 1.2rem;
  position: absolute;
  left: 0;
  bottom: -16rem;
  transition: bottom 250ms $swift;
  width: 100vw;

  & > * {
    z-index: 2;
  }

  & > h1 {
    margin: 0 0 .8rem -17rem;
    transition: all 250ms $swift-bounce 150ms;
  }

  & > p {
    flex-basis: 100%;
    margin-top: 0;
    margin-bottom: .4rem;
    padding-right: 2rem;
  }

  & > a {
    cursor: default;
  }

  img {
    height: 4.8rem;
    width: 4.8rem;
    margin-right: 4.8rem;
  }
}

@media (min-width: 410px) {
  .project {
    &:first-of-type > img {
      height: 22rem;
      width: 24rem;
    }

    &:last-of-type > img {
      height: 22rem;
      width: 22rem;
    }
  }
}

@media (min-width: 585px) {
  .project {
    &:first-of-type > img {
      height: 24rem;
      width: 26rem;
    }

    &:last-of-type > img {
      height: 24rem;
      width: 24rem;
    }
  }
}

@media (min-width: 880px) {
  #projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }

  .project {
    box-shadow: $shadow;
    height: 55vh;
    width: 40vw;

    & > .material-icons {
      display: none;
    }
  }

  .proj-desc {
    width: 40vw;
  }
}
