#work {
  background-color: $teal-800;
  display: flex;
  flex-wrap: wrap;
}

.work {
  background-color: $teal-600;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 33.33vh;
  padding: $m;
  position: relative;
  width: 100%;

  &:nth-of-type(2) {
    background-color: $teal-700;
  }

  &:last-of-type {
    background-color: $teal-800;
  }
}

.date {
  margin: 0 4rem 0 0;
  position: absolute;
  top: 1rem;
  right: 0;
}

.tech {
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  width: 100%;

  & > span {
    width: 33.33%;
  }
}

@media (min-width: 585px) {
  .work-wrap > h3 {
    font-size: 1.4em;
  }

  .tech > span {
    font-size: 1.2em;
  }
}

@media (min-width: 1018px) {
  .work {
    flex: 1 0 50%;
    height: 50vh;

    &:first-of-type {
      flex: 0 1 100%;
    }
  }
}
