@use "../1-modules/mixins";
@use "../1-modules/variables";

// Base styles and classes
body {
  color: variables.$teal-50;
  font-family: 'Palanquin Dark', sans-serif;
}

a {
  @include mixins.no-highlight();

  display: inline-block;
}

section {
  background-color: variables.$teal-400;

  &:nth-of-type(odd) {
    background-color: variables.$teal-600;
  }
}

.center { text-align: center; }
.right  { text-align: right; }

.hide {
  opacity: 0;
}

.circle {
  border-radius: 50%;
}
