@use '../1-modules/mixins';
@use '../1-modules/variables';

// Base styles and classes
body {
  color: variables.$text-color;
  font-family: 'Palanquin Dark', sans-serif;
}

h1 {
  font-size: 8.4rem;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.hide {
  opacity: 0;
}

.circle {
  border-radius: 50%;
}
