// Base styles and classes
body {
  color: $teal-50;
  font-family: 'Palanquin Dark', sans-serif;
}

a {
  @include no-highlight();

  display: inline-block;
}

section {
  background-color: $teal-400;

  &:nth-of-type(odd) {
    background-color: $teal-600;
  }
}

.center { text-align: center; }
.right  { text-align: right; }

.hide {
  opacity: 0;
}

.circle {
  border-radius: 50%;
}
