// Styles for the header and nav
nav {
  & > ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    @include no-highlight();
  }
}

.icon-wrap {
  position: relative;

  & > span {
    color: $teal-50;
    font-size: $m;
    top: 50%;
    left: 50%;
    transition: transform 250ms $swift-bounce;
    user-select: none;
  }

  & > .icon {
    transition: opacity 250ms $swift;
  }

  &.focused {
    & > span {
      transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }

    & > .icon {
      opacity: .37;
    }
  }
}

#projects-icon > span {
  color: $purple-900;
}

.arrow {
  border-color: $purple-900 $purple-600 $purple-900 transparent;
  border-style: solid;
  border-width: .9rem .9rem .9rem 0;
  margin-right: $xs;
  margin-left: $s;
  transform: translateY(-7.2rem);
  transition: transform 200ms $swift-bounce, opacity 200ms $swift;

  @include eq-dimen(0);
}

.arrow-about    { transform: translateY(-4.5rem); }
.arrow-work     { transform: translateY(.1rem); }
.arrow-projects { transform: translateY(4.8rem); }

@media (min-width: 1018px) {
  nav li {
    cursor: pointer;
  }
}
