@media (min-width: 880px) {
  section {
    margin-left: 12rem;
    padding: 1.6rem;

    & > p {
      margin: 0;
    }
  }

  header {
    display: none;
  }

  .logo {
    display: block;
  }

  nav {
    background-color: $red-400;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    height: 100vh;
    width: 12rem;
    position: fixed;
    z-index: 1;

    li {
      cursor: default;
    }
  }

  #projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .project {
    height: 60vh;
    width: 40vw;
    box-shadow: $shadow;

    & > .material-icons {
      display: none;
    }
  }

  .proj-desc {
    width: 40vw;

    & > a {
      cursor: pointer;
    }
  }
}
