@media (min-width: 430px) {
  /*.nav-row-2 {
    margin-left: auto;
    margin-right: 0;
    width: 40%;
  }

  .nav-row-3 {
    margin-left: 0;
    margin-right: auto;
    width: 60%;
  }*/

  .border {
    height: 292px;
    width: 292px;
  }

  .head {
    height: 282px;
    width: 282px;
    margin: 5px;
  }


  .job-box { width: 65%; }

  form {
    width: 90%;
    max-width: 495px;
  }
}

@media (min-width: 570px) {
  .nav-row-2,
  .nav-row-3 {
    display: inline-block;
  }

  .nav-row-2 {
    width: 39.5%;
  }

  .nav-row-3 {
    width: 59.5%;
  }


  #submit { font-size: 16px; }
}

@media (min-width: 750px) {
  .menu { display: none; }

  nav {
    position: static;
    transform: translate(0, 0);
  }

  .nav-icon-container {
    background-color: $beige;
    box-shadow: 0 4px 8px $shadow;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .nav-row-2,
  .nav-row-3 {
    display: inline-block;
  }

  .nav-img {
    border: 0;
    cursor: pointer;
  }

  .caption { display: inline; }
  .hline { display: none; }
  .job-box { width: 85%; }
  .job-desc p { text-align: left; }

  .job {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }

  #siemens,
  #assurex { height: 72px; }

  #submit { cursor: pointer; }

  .proj-bar { display: none; }

  .proj-desc p {
    text-align: left;
    text-indent: 35px;
  }

  .proj-image { display: inline-block; }

  #univ-desc,
  #cbtb-desc { display: block; }
}

@media (min-width: 1000px) {
  .description {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
