@media (min-width: 410px) {
  #home,
  button {
    font-size: 2rem;
  }

  .project {

    &:first-of-type > img {
      height: 22rem;
      width: 24rem;
    }

    &:last-of-type > img {
      height: 22rem;
      width: 22rem;
    }
  }
}

@media (min-width: 585px) {
  .project {

    &:first-of-type > img {
      height: 24rem;
      width: 26rem;
    }

    &:last-of-type > img {
      height: 24rem;
      width: 24rem;
    }
  }
}

@media (min-width: 880px) {
  section {
    margin-left: 12rem;

    & > p {
      margin: 0;
    }
  }

  header {
    display: none;
  }

  .logo {
    display: block;
  }

  nav {
    background-color: $red-600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    height: 100vh;
    width: 12rem;
    position: fixed;
    z-index: 1;

    li {
      cursor: default;
    }
  }

  #home {
    align-items: flex-end;
    background-image: url(../assets/img/head/peep.jpg);
    background-position: center;
    background-attachment: fixed;


    & > p {
      background-color: rgba($red-900, .54);
      font-size: 2.2rem;
      margin-bottom: 2rem;
      margin-left: 4rem;
      width: 40%;
    }
  }

  button {
    cursor: pointer;
    background-color: $red-600;
    border: .4rem solid $red-900;

    &:hover {
      border: .4rem solid $red-600;
      box-shadow: 0 0 0 3rem $red-900 inset, 0 0 0 1.2rem $teal-50 inset, 0 0 0 .4rem $red-900;
    }

    &:active {
      box-shadow: 0 0 0 3rem $red-900 inset, 0 0 0 1.2rem $teal-50 inset, 0 0 0 -.8rem $red-900;
    }
  }

  #projects {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }

  .project {
    box-shadow: $shadow;
    height: 55vh;
    width: 40vw;

    & > .material-icons {
      display: none;
    }
  }

  .proj-desc {
    width: 40vw;

    & > a {
      cursor: pointer;
    }
  }

  .work {
    flex-basis: 50%;

    &:first-of-type {
      flex-basis: 100%;
    }
  }
}

@media (min-width: 1030px) {
  #home p {
    font-size: 2.4rem;
    margin-left: 12rem;
    max-width: 42rem;
    transition: margin 300ms $swift;
  }
}

@media (min-width: 1155px) {
  #home p {
    //font-size: 2.6rem;
    margin-left: 16rem;
  }
}

@media (min-width: 1220px) {
  margin-left: 20rem;
}
