/* Styles for Vinyl Record */
.record {
  background-color: $black;
  box-shadow: $shadow;
  position: relative;
  z-index: 1;

  @include eq-dimen(16);
}

.ring {
  border-color: $grey-800 $grey;
  border-style: solid;
  border-width: .3rem;


  @for $i from 1 through 8 {
    &:nth-of-type(#{$i}) {
      @include ring-dimen($i, 14);
    }
  }
}

.inner {
  background-color: $black;
  border: 1rem solid $green;

  @include absolute-center(4.2);
}

.dot {
  background-color: white;

  @include absolute-center(1.2);
}

@media (min-width: 410px) {
  .record {
    @include eq-dimen(24);
  }

  .ring {
    @for $i from 1 through 8 {
      &:nth-of-type(#{$i}) {
        @include ring-dimen($i, 22);
      }
    }
  }

  .inner {
    border-width: 2.2rem;

    @include absolute-center(7.2);
  }

  .dot {
    @include absolute-center(1.6);
  }
}
