@use "../1-modules/mixins";
@use "../1-modules/variables";

/* Styles for Vinyl Record */
.record {
  background-color: variables.$udj-black;
  box-shadow: variables.$shadow;
  position: relative;
  z-index: 1;

  @include mixins.eq-dimen(16);
}

.ring {
  border-color: variables.$udj-grey-800 variables.$udj-grey;
  border-style: solid;
  border-width: .3rem;


  @for $i from 1 through 8 {
    &:nth-of-type(#{$i}) {
      @include mixins.ring-dimen($i, 14);
    }
  }
}

.inner {
  background-color: variables.$udj-black;
  border: 1rem solid variables.$udj-green;

  @include mixins.absolute-center(4.2);
}

.dot {
  background-color: white;

  @include mixins.absolute-center(1.2);
}

@media (min-width: 410px) {
  .record {
    @include mixins.eq-dimen(24);
  }

  .ring {
    @for $i from 1 through 8 {
      &:nth-of-type(#{$i}) {
        @include mixins.ring-dimen($i, 22);
      }
    }
  }

  .inner {
    border-width: 2.2rem;

    @include mixins.absolute-center(7.2);
  }

  .dot {
    @include mixins.absolute-center(1.6);
  }
}
