.job {
  display: block;
  width: 100%;

  &:first-of-type { margin-bottom: 16px; }
}

.job-box {
  border-radius: 3px;
  display: inline-block;
  height: 100px;
  width: 90%;
}

.logo {
  display: inline-block;
  width: 80%;
}

#siemens,
#assurex { max-width: 222px; }

#siemens { padding: 10px; }
#assurex { max-height: 72px; }

h4 { margin-bottom: 0; }
