/* Custom Styles */
body {
    background-color: #4E342E;
    color: #D7CCC8;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 0;
}

h3 { font-size: 20px }
p { font-size: 18px; }

.hline hr,
.section hr {
  border: none;
  height: 2px;
}

.hline hr {
    width: 5%;
    background-color: #D7CCC8;
    -webkit-transition: width 0.7s ease;
            transition: width 0.7s ease;
}

.section hr { background-color: #2E7D32; }
.box-sizing { box-sizing: border-box; }

/* Mobile Menu Transitions */
.menu {
    position: fixed;
    z-index: 1;
    text-align: right;
    right: 14px;
}

#menu-button {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

#menu-button.open {
    opacity: 0.2;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

/* Navigation Bar Transitions */
nav {
    width: 100%;
    -webkit-transform: translate(0, -200px);
        -ms-transform: translate(0, -200px);
            transform: translate(0, -200px);
    -webkit-transition: transform 0.3s ease;
            transition: transform 0.3s ease;
    position: fixed;
}

nav.open {
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
}

/* Navigation Bar Styles */
.nav-icon-container {
    padding: 0;
    width: 80%;
    margin: 8px auto;
    list-style-type: none;
    font-weight: 700;
    text-align: center;
}

.nav-icon-container p { font-size: 16px; }

.nav-row-2,
.nav-row-3 {
    margin: 5px auto;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    text-align: center;
}

.nav-row-2 {
  width: 66.66%;
  max-width: 400px;
}

.nav-row-3 {
  width: 100%;
  max-width: 600px;
}

.nav-row-top,
.nav-row-bot {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-row-top { width: 50%; }
.nav-row-bot { width: 33.33%; }

.hline {
    margin: 0 auto;
    width: 80%;
}

.section { width: 100%; }

.nav-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #D7CCC8;
  border-radius: 50%;
  cursor: pointer;
  width: 38px;
  height: 38px;
}

.caption {
    text-transform: uppercase;
    display: none;
    color: #4E342E;
    cursor: pointer;
}

.center { text-align: center; }
.nav-link { cursor: pointer; }

.border {
    width: 80%;
    max-width: 291px;
    background-color: #2E7D32;
    background: -webkit-linear-gradient(to left bottom, #2E7D32, #2E7D32 50%, #363d13 50%, #363d13);
    background:         linear-gradient(to left bottom, #2E7D32, #2E7D32 50%, #363d13 50%, #363d13);
    margin: 16px auto;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0,0,0,.28);
}

.head {
    width: 97%;
    display: block;
    margin: 4px;
}

.border,
.head {
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.description { margin: 0 16px; }

#home-page,
#work-page,
#proj-page,
#resume-page,
#contact-page { display: none; }

/* Contact Form Styles */
form {
  background-color: #D7CCC8;
  padding: 7px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  color: #4E342E;
  padding-bottom: 14px;
}

.hide { display: none; }

.field label {
  margin-bottom: 3px;
  display: inline-block;
}

.field {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.field input,
.field textarea {
  width: 100%;
  border: none;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  font-family: 'Dosis', sans-serif;
  background-color: #fafafa;
  color: #4E342E;
}

.field input {
  height: 24px;
  margin-bottom: 4px;
}

.field textarea {
  height: 250px;
  padding-top: 4px;
  padding-bottom: 4px;
  resize: none;
  display: block;
}

input:active,
textarea:active,
input:focus,
textarea:focus { outline-color: #2E7D32; }

/* Submit Button Styles & Animations */
#submit {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
  width: 30%;
  height: 35px;
  background-color: #2E7D32;
  color: #D7CCC8;
  border: none;
  cursor: pointer;
  font-size: 14px;
  opacity: .65;
  transition: opacity 65ms ease-in-out;
}

#submit:focus { outline: none; }

#submit:hover {
  transition: opacity 65ms ease;
  opacity: .75;
}

#submit:active {
  transition: opacity 65ms ease;
  opacity: 1;
}

/* Work Experience Section Styles */
.job {
  width: 100%;
  display: block;
}

.job:first-of-type { margin-bottom: 16px; }

.job-box {
  width: 90%;
  height: 100px;
  display: inline-block;
  height: auto;
  border-radius: 3px;
}

.logo {
  display: inline-block;
  width: 80%;
}

#siemens,
#assurex { max-width: 222px; }

#siemens { padding: 10px; }
#assurex { max-height: 72px; }
h4 { margin-bottom: 0; }

/* Project Page Styles */
.proj-bar {
  text-align: center;
  width: 100%;
  margin-top: 16px;
}

.proj-icon { display: inline-block; }

.proj-icon img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.proj-desc { text-align: center; }
.proj-desc h3 { color: #2E7D32; }

.proj-img {
  display: none;
  width: 125px;
  height: 125px;
}

#univ {
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #2E7D32;
}

a:visited,
a:hover { color: #4CAF50; }

a:hover { text-decoration: underline; }

/*#univ,
#cbtb { opacity: .6 }*/

#univ-desc,
#cbtb-desc { display: none; }

/* Media Queries */
@media screen and (min-width: 430px) {
    .nav-icon-container {
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
    }

    .nav-row-2 {
        width: 40%;
        margin-left: auto;
        margin-right: 0;
    }

    .nav-row-3 {
        width: 60%;
        margin-left: 0;
        margin-right: auto;
    }

    .border { width: 60%; }
    .job-box { width: 65%; }

    form {
      width: 90%;
      max-width: 495px;
    }
}

@media screen and (min-width: 570px) {
  .head { margin: 5px; }
  #submit { font-size: 16px }
}

@media screen and (min-width: 750px) {
    .menu { display: none; }

    nav {
        position: static;
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
             -o-transform: translate(0, 0);
                 transform: translate(0,0);
    }

    .nav-icon-container {
        width: 100%;
        background-color: #D7CCC8;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 0 4px 8px rgba(0,0,0,.28);
    }

    .nav-img { border: 0; }
    .caption { display: inline; }
    .hline { display: none; }
    .border { width: 40%; }
    .head { margin: 4px; }
    .job-box { width: 85%; }
    .job-desc p { text-align: left; }

    .job {
      display: inline-block;
      width: 48%;
      vertical-align: top;
    }

    #siemens,
    #assurex { height: 72px; }

    .proj-bar { display: none; }

    .proj-desc p {
      text-align: left;
      text-indent: 35px;
    }

    .proj-img { display: inline-block; }

    #univ-desc,
    #cbtb-desc { display: block; }
}

@media screen and (min-width: 1000px) {
    .border { width: 30%; }

    .description {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
}
