@use '../../1-modules/mixins';
@use '../../1-modules/variables';

// Critical about section styles
#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-size: variables.$m;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#mobile-logo {
  fill: variables.$accent;

  @include mixins.eq-dimen(7.2);
}

@media (min-width: 410px) {
  #about {
    font-size: 2rem;
  }
}

@media (min-width: 1018px) {
  #mobile-logo {
    display: none;
  }
}
