@use "../../1-modules/variables";

// Critical about section styles
#about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: variables.$m;
  overflow: hidden;
  position: relative;

  & > p {
    background-color: rgba(variables.$teal-800, 0.78);
    margin: 5.2rem 0 0 0;
    padding: variables.$m;
    z-index: 1;
  }
}

#bg-cover {
  background-color: variables.$tree-bg;
  height: 100vh;
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.btns {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 4rem;
}

button {
  background-color: variables.$purple-600;
  border: 0;
  border-radius: variables.$xxs;
  color: variables.$teal-50;
  font-size: variables.$m;
  letter-spacing: 0.1rem;
  outline: 0;
  overflow: hidden;
  padding: 1.2rem;
  position: relative;

  & > svg {
    height: variables.$l;
    width: variables.$l;
    margin-top: -1.2rem;
    margin-left: -1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10rem);
  }

  & > span {
    display: block;
    transform: translate(0);
  }
}

#email {
  position: relative;

  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
}

@media (min-width: 410px) {
  #about,
  button {
    font-size: 2rem;
  }
}

@media (min-width: 1018px) {
  #about > p,
  .btns {
    width: 40%;
  }

  #about {
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    & > p {
      background-color: variables.$purple-translucent;
      border-radius: variables.$xxs;
      box-sizing: border-box;
      font-size: 2rem;
      margin-bottom: variables.$l;
      margin-right: variables.$l;
    }
  }

  #bg-cover {
    background-color: variables.$forest-green;
  }

  .btns {
    justify-content: space-around;
    margin: 0 variables.$l variables.$l 0;
  }

  button {
    background-color: variables.$purple-translucent;
  }
}

@media (min-width: 1155px) {
  #about > p {
    font-size: 2.6rem;
  }

  button {
    font-size: variables.$l;
  }
}

@media (min-width: 1445px) {
  #about > p,
  .btns {
    align-self: flex-start;
    margin-left: 6rem;
    width: 30%;
  }

  #about > p {
    font-size: variables.$l;
  }
}
