@use '../../1-modules/_variables';
@use '../../1-modules/_mixins';

// Critical base styles
html {
  font-size: 62.5%;
}

body {
  color: variables.$text-color;
  background-color: variables.$background;
  margin: 0;
}

section {
  font-size: 2rem;
  min-height: 100vh;
}

h1 {
  font-size: 8.4rem;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.capital {
  text-transform: uppercase;
}

.border-box {
  box-sizing: border-box;
}

.icon {
  @include mixins.eq-dimen(4.8);
}

@media (min-width: 1018px) {
  section {
    margin-left: 11.9rem;
  }
}
