// Critical header styles
header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

nav,
.logo {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: $xxs $xs;

  .icon {
    cursor: default;
    display: block;
  }
}

.icon-wrap > span {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-15deg) scale(0);
}

@media (min-width: 1018px) {
  header {
    display: none;
  }

  .logo {
    display: block;
    position: absolute;
    top: $xl;
    left: 3.6rem;
  }

  nav {
    background-color: $purple-900;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    height: 100vh;
    width: 12rem;
    position: fixed;

    & > ul {
      list-style-type: none;
      padding-left: 0;
    }

    li {
      margin: $l 0 $l $s;
    }
  }
}
