@import './0-vendor/_normalize';
@import './0-vendor/_material-icons';
@import './0-vendor/_palanquin-dark';
@import './1-modules/_variables';

html {
  font-size: 62.5%;
}

body {
  background-color: $teal-800;
  color: $teal-50;
  font-family: 'Palanquin Dark', sans-serif;
}

.capital { text-transform: uppercase; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.hide {
  opacity: 0;
}

.material-icons.shrink-icon {
  font-size: 0;
  margin-top: 0;
  margin-left: 0;
  opacity: 0;
}

.no-display {
  display: none;
}

.fix-position {
  position: fixed;
}

.border-box {
  box-sizing: border-box;
}

header {
  background-color: $teal-800;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  background-color: $teal-900;
  height: 100vh;
  width: 50%;
  position: fixed;
  top: 5.2rem;
  transform: translate(-30rem, 0);
  transition: transform 200ms $swift;

  &.active {
    transform: translate(0, 0);
  }

  & > ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    margin-left: .8rem;

    &::after {
      background-color: $red;
      content: '';
      display: block;
      height: .3rem;
      width: 30%;
    }
  }
}

.menu {
  background-color: $red;
  display: inline-block;
  height: 5.2rem;
  position: relative;
}

.material-icons {
  font-size: 4.8rem;
  margin-left: -2.4rem;
  margin-top: -2.4rem;
  padding: .2rem;
  position: relative;
  top: 2.4rem;
  left: 2.4rem;
}

.arrow {
  border-top: 1rem solid $red;
  border-right: 1rem solid $red-800;
  border-bottom: 1rem solid $red;
  display: none;
  height: 0;
  width: 0;
  margin-right: .4rem;
  margin-left: .8rem;
  transition: all 200ms $swift;
}

.arrow-home { margin-top: 2.8rem; }
.arrow-work { margin-top: 7.4rem; }
.arrow-projects { margin-top: 12rem; }
.arrow-contact { margin-top: 16.7rem; }

section {
  font-size: 2rem;
  min-height: 100vh;
  padding: .8rem;

  &:first-of-type {
    padding-top: 4.5rem;
  }

  &:nth-of-type(even) {
    background-color: $teal-600;
  }

  & > p {
    line-height: 1.2em;
  }
}

h1 {
  letter-spacing: .1em;
  margin-top: 0;
  margin-bottom: .4em;
}

.links {
  a {
    display: inline-block;
    transition: all 200ms $swift;
    color: inherit;
    text-decoration: none;
    cursor: default;
  }
}

#menu-btn { transition: all 200ms $swift, opacity 150ms $swift; }

@media (min-width: 560px) {
  header,
  nav {
    background-color: $red;
  }

  section {
    margin-left: 12rem;
    padding: 1.6rem;

    &:first-of-type {
      padding-top: 1.6rem;
    }

    & > p {
      margin: 0;
    }
  }

  header {
    width: 12rem;
    height: 100vh;
    top: 0;
    justify-content: center;
  }

  .menu {
    display: none;
  }

  nav {
    width: 12rem;
    height: auto;
    position: static;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    transform: translate(0, 0);

    li {
      cursor: default;

      &::after {
        display: none;
      }
    }
  }

  .arrow {
    display: block;
  }

  .links a {
    cursor: pointer;
  }
}
