@import './0-vendor/_normalize';
@import './0-vendor/_material-icons';
@import './0-vendor/_dosis';
@import './1-modules/_variables';

body {
  background-color: $brown;
  color: $beige;
  font-family: 'Dosis', sans-serif;
  margin: 0;
}

h1 {
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 0;
  text-transform: uppercase;
}

h3 { font-size: 20px; }
p  { font-size: 18px; }

.hline hr,
section hr {
  border: none;
  height: 2px;
}

.hline hr {
  width: 5%;
  background-color: $beige;
  transition: width 250ms $swift;

  &.extend {
    width: 100%;
  }
}



hr { background-color: $green; }
.box-sizing { box-sizing: border-box; }
.center { text-align: center; }
.block-center { margin: 0 auto; }
.capital { text-transform: uppercase; }
.no-display { display: none; }
.hide { opacity: 0; }
.fix-position { position: fixed; }

.menu {
  position: fixed;
  right: 14px;
  text-align: right;
  z-index: 1;
}

#menu-btn {
  opacity: 1;
  transition: all 250ms $swift;
}

#menu-btn.open {
  opacity: 0.2;
  transform: rotate(180deg);
}

nav {
  transform: translate(0, -200px);
  transition: transform 250ms $swift;
}

nav.active {
  transform: translate(0, 0);
}

.nav-icon-container {
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;

  p { font-size: 16px; }
}

.nav-row-2,
.nav-row-3 {
  margin: 4px auto;
}

.nav-row-2 {
  width: 66.66%;
  max-width: 400px;
}

.nav-row-3 {
  width: 100%;
  max-width: 600px;
}

.nav-row-top,
.nav-row-bot {
  display: inline-block;
}

.nav-row-top { width: 48%; }
.nav-row-bot { width: 32%; }

.section { width: 100%; }

.nav-img {
  border: 3px solid $beige;
  border-radius: 50%;
  display: block;
  height: 38px;
  width: 38px;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  color: $brown;
  cursor: pointer;
  display: none;
  text-transform: uppercase;
}

.nav-link { cursor: pointer; }

.border,
.head {
  border-radius: 50%;
}

.border {
  background-color: $green;
  background: linear-gradient(to left bottom, $green, $green 50%, $olive 50%, $olive);
  display: inline-block;
  height: 256px;
  width: 256px;
  margin: 16px auto;
}

.head {
  display: block;
  height: 248px;
  width: 248px;
  margin: 4px;
}

.description { margin: 0 16px; }

#home-page,
#work-page,
#proj-page,
#resume-page,
#contact-page {
  transition: all 250ms $swift;
}

@import './2-partials/_contact-page';
@import './2-partials/_work-page';
@import './2-partials/_proj-page';
@import './2-partials/_media-queries';
