div.ie-flex-fix
  section#about.border-box
    p I am currently a third year Computer Science major at the University of Cincinnati, Class of 2019. For now,
      | this site will serve as a main hub where I can document my experiences and further experiment with web technologies.
      |  Though still exploring opportunities in the field, I have taken a keen interest in web development. My main focus has been with front-end in particular, but
      |  I have been digging deeper into full stack development in my most recent co-op. During my free time, I can be found competing
      |  out on the volleyball court or shopping around to enhance my personal style.
    div.btns  
      a(href=require('../../assets/file/Trout-Resume-2017.pdf') target='_blank'): button.capital Resume
      a(href='mailto:troutkt@mail.uc.edu'): button#email.capital Email
