section#projects.border-box
  - let projects = [];
  - projects.push({ name: 'Impulse', uri: 'kytrol/impulse', description: 'Social media site where the popular have greater influence.'});
  - projects.push({ name: 'uDj', uri: 'mtihlenfield/udj', description: 'IoT jukebox allowing for collaborative music queues.'});
    each proj in projects
      figure.border-box
        if proj.name === 'uDj'
          include ../_udj-record
        else
          svg
            use(xlink:href='build/assets/img/icon/defs.svg#impulse')
        svg.icon
          use(xlink:href='build/assets/img/icon/defs.svg#expand')
        figcaption.border-box
          h1= proj.name
          a(href=`https://github.com/${proj.uri}` target='_blank') 
            svg.icon
              use(xlink:href='build/assets/img/icon/defs.svg#github')
          p= proj.description
