section#projects.border-box
  div.project.border-box
    img(src=require('../../assets/img/logo/impulse.svg') alt='impulse')
    i.material-icons expand_less
    div.proj-desc.border-box
      h1 Impulse
      a(href='https://github.com/kytrol/impulse' target='_blank'): img(src=require('../../assets/img/logo/github.svg') alt='impulse github')
      p Social media site where the popular have greater influence.
  div.project.border-box
    img(src=require('../../assets/img/logo/udj.png') alt='udj')
    i.material-icons expand_less
    div.proj-desc
      h1 uDj
      a(href='https://github.com/mtihlenfield/udj' target='_blank'): img(src=require('../../assets/img/logo/github.svg') alt='udj github')
      p IoT jukebox allowing for collaborative music queues.
