section#work.border-box
  div.work.center.border-box
    h3.date 2017 - Current
    div.work-wrap
      h1 Balluff
      h3 Web
    div.tech
      - let tech = ['Node.js', 'JavaScript', 'HTML/CSS'];
      for t in tech
        span= t
  div.work.center.border-box
    h3.date 2016
    div.work-wrap
      h1 Siemens PLM Software
      h3 Software
    div.tech
      - let tech2 = ['C++'];
      for t in tech2
        span= t
  div.work.center.border-box
    h3.date 2015
    div.work-wrap
      h1 Assurex Health
      h3 Web & Testing
    div.tech
      - let tech3 = ['C#', 'JavaScript'];
      for t in tech3
        span= t
