section#work.border-box
  - let jobs = [];
  - jobs.push({ date: '2017 - Current', name: 'Balluff Inc.', field: 'Full Stack Web', tech: ['Node.js', 'Git', 'HTML/CSS']});  
  - jobs.push({ date: '2016', name: 'Siemens PLM Software', field: 'Software', tech: ['C++']});
  - jobs.push({ date: '2015', name: 'Assurex Health', field: 'Web & Testing', tech: ['C#', 'JavaScript']});
    each job in jobs
      div.work.center.border-box
        h3.date= job.date
        div.work-wrap
          h1= job.name
          h3= job.field
        div.tech
          each tech in job.tech
            span= tech
